<header>
  <nav class="flex justify-between p-3 bg-cyan-900 items-center justify-center">
    <ul class="">
      <li class="text-white font-bold text-lg"> <a href="/">To Do Project.</a></li>
    </ul>
    <ul class="flex gap-5">
      <li class="text-white font-semibold"><a href="/new">Add task</a></li>
      <li class="text-white font-semibold">Jorge Ortiz</li>
    </ul>
  </nav>
</header>
