<div class="">
  <p>
    <span>
      <%= task.name %>
    </span>
  </p>
  <p>
    <span>
      <%= task.date %>
    </span>
  </p>
  <p>
    <span>
      <%= task.comment %>
    </span>
  </p>
</div>




