<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <main>
      <%- include('../partials/header'); %>
      <section class="p-32 flex flex-col justify-center items-center">
        <h2 class="font-bold text-3xl text-cyan-900">Add your task:</h2>
        <form action="/new/task" method="post" class="flex flex-col p-10 w-full">

          <div class="mb-6">
            <label for="task_name" class="block mb-2 text-sm font-bold text-cyan-900">Task's name:</label>
            <input type="email" name="task_name" id="task_name" placeholder="Buy eggs."
                class="rounded-lg bg-cyan-50 border-2 border-cyan-900 text-sm font-semibold p-2 w-full">
          </div>

          <div class="mb-6">
            <label for="task_date" class="block mb-2 text-sm font-bold text-cyan-900">Deadline:</label>
            <input type="date" name="task_date" id="task_date"
                  class="rounded-lg bg-cyan-50 border-2 border-cyan-900 text-sm font-semibold p-2 w-1/6">
          </div>

          <div class="flex flex-col items-start mb-6">
            <label for="task_comment" class="block mb-2 text-sm font-bold text-cyan-900">Comments:</label>
            <textarea name="task_comment" id="task_comment" cols="30" rows="10" placeholder="Go to the Shopping center"
                class="rounded-lg bg-cyan-50 border-2 border-cyan-900 text-sm font-semibold p-2 w-full"></textarea>
          </div>

          <div class="flex justify-center items-center">
            <input type="submit" class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg cursor-pointer py-2 px-4" value="Add task">
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
